@charset "UTF-8";
/* COLORS */
body,.canvasShopBack{background-color: #DDD;}
#main-header,
.modal,
.palet-content{background-color: #FFF;color:#333333}
a{color:#18D;text-decoration: none}
/* color */
.option-start:hover{background-color: #EEE}
/* color */
#canvasShopExport .export-text {background: rgba(255,255,255,.5);border-color: #CCC}
.modal,
.palet-content,
.btn{border-color:#BBB}
.modal .modal-header,
.palet-content .palet-header{border-color:#DDD}
/* color */
.palet-icon{border-color: #DDD;background-color: #FFF; }
.palet-content .palet-resize{background-color: #DDD}
.modal-dimmer{background-color: #FFF}
#layer-container{border-color:#DDD}
.layer-stick{border-color:#FFF transparent #CCC;background-color:#EEE;}
#tools-ctrl .btn-icon.current,#document-list li.current,
.layer-stick.current{background-color:#CDF;}
#tools-ctrl .btn-icon,.btn-icon.medium,.btn-icon.big,
.layer-stick-eye,
#main-header .header-section{border-color:#CCC}
#tools-ctrl .btn-icon:hover,.btn-icon.medium:hover{border-color:#999}
.brush-ctrl-item-title{background-color:#DDD}
.brush-ctrl-item-title:before{border-color: transparent transparent transparent #666}
.brush-ctrl-item-title.open:before{border-color: #666 transparent transparent transparent;}
#brush-ctrl-presets,
.brush-preset,
.slider-out{border-color:#CCC}
.slider-line{background-color:#CCC;}
.slider-btn{border-color: #AAA transparent transparent}
input{border-color:#BBB;background-color: #FFF;}
.switcher .switcher-content{border-color: #CCC;background-color: #DDD}
.switcher.on .switcher-content{background-color: #3EA1E0;color:#FFF;}
.switcher .switcher-key{border-color: #CCC;background-color: #FFF}
.menu li:hover,.btn:hover{background-color: #333;color: #FFF}
.menu li ul{background-color: #FFF;}
.menu li ul li,.menu li ul li.current{color: #333}
.menu li.disable:hover,
.btn.disable:hover{background-color: #FFF;color:#333}
#menu-document{border-color:#ccc}
#document-list-title:after,
#menu-document li.disable:hover #document-list-title:after{border-color:#333 transparent transparent transparent}
#menu-document li:hover #document-list-title:after{border-color:#FFF transparent transparent transparent}
#document-list li.current:before{border-color: transparent transparent transparent #333}
.color-cnvs canvas,
#color-ctrl-current-sample,
#brush-preview-cnv{border-color:#BBB}
/* Sprite */
#doc-tabs li .tab-close,.icon-start,
.palet-content .palet-close,.palet-setIcon,
.btn-icon,
.layer-stick-eye,.palet-icon
{background-image: url('../img/sprite-light.png');background-repeat: no-repeat}
.palet-tabs{border-color:#BBB}
.palet-tabs .tab-palet{border-color:#BBB;background-color: #DDD}
.palet-tabs .tab-palet.current{border-color:#BBB #BBB transparent;background-color: #FFF}
/* END COLORS*/


body{font: 12px/1.4em 'Open Sans', sans-serif;}
.canvasShopBack,
#canvasShopBack
{
	position:fixed;top:0;left:0;right:0;bottom:0;display: none;
}
#canvasShopBack{display: block;}


#canvasShopBack.palet-resizing{cursor: n-resize}
#canvasShopBack.slide-dragging{cursor: e-resize}
#canvasShopBack,#canvasShopBack *:not(input){
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p{margin-bottom:15px}
.align-center{text-align: center}
a{text-decoration: none}
a:hover{text-decoration: underline;}
b{font-weight: bold}

#picker-sample{position:absolute;top:-100px;left:-100px;width:40px;height:40px;margin:-50px 0 0 -20px;border:solid 1px #808080;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);display:none;z-index: 999999;
}

/* MENU */
.menu{display:block;line-height:30px; height:30px; padding:0 5px}
.menu li{position:relative;display:block;float: left;cursor: pointer;padding:0 10px; }
.menu li.disable{cursor: default; opacity:.5}
.menu li ul{display:none;position: absolute;left:0;min-width: 140px;line-height: 30px;box-shadow: 0 0px 4px rgba(0,0,0,.3)}

.menu li:hover ul{display:block;}
.menu li.disable:hover ul{display:none;}
.menu li ul li{float: none}

.btn-icon{display:inline-block;width:20px;height:20px;margin:0 5px 0 0;cursor: pointer}
.btn-icon.medium{width:23px;height:23px;border-width: 1px;border-style: solid;border-radius: 3px}
.btn-icon.big{width:48px;height:48px;border-width: 1px;border-style: solid;border-radius: 3px}


/* Switcher */
.switcher{position:relative;height:25px;font-size: 10px;}
.switcher .switcher-title{height:18px;line-height:18px;text-align: right;margin-right: 56px;overflow: hidden}
.switcher .switcher-content{position:absolute;top:0;left:0;height:16px;line-height:16px;width:48px;border-width: 1px;border-style: solid;border-radius: 3px;text-align: center;cursor: pointer;box-shadow: inset 0 1px 2px rgba(0,0,0,.3);}
.switcher.with-title .switcher-content{left:auto;right:0;}
.switcher .switcher-key{position:absolute;top:0;left:0;height:14px;width:22px;border-width: 1px;border-style: solid;border-radius: 3px;
	transition: left .2s;-moz-transition: left .2s;-webkit-transition: left .2s;}
.switcher .switcher-content-option{position:absolute;top:0;left:0px;height:16px;width:24px;}
.switcher .switcher-content-option.no{left:24px;} 
.switcher.on .switcher-key{left:24px}

.switcher.disable{opacity: .5}
.switcher.disable .switcher-content{cursor: default}








#slider-blending-brush{min-height:30px;}
#switcher-dirt-brush{height: 35px}


#modal-start{display:block;opacity: 0;transition: opacity .4s;-webkit-transition: opacity .4s;-moz-transition: opacity .4s;}
.option-start{padding:10px;margin-bottom: 5px;cursor: pointer;}
.option-start.disable{opacity: .3;cursor:default;}
.icon-start{width:50px;height: 50px;float: left;margin:5px 15px 0 0;background-position: -420px 0;}
.text-start{line-height: 60px; font-size: 32px}
#import-start .icon-start{background-position: -420px -50px;}














/* Main header */
#main-header{position:absolute;top:0;left:0;right:0;z-index:18000;height:46px;box-shadow: 0 1px 3px rgba(0,0,0,.1)}
#main-header .menu,
#main-header .header-section{position: absolute;top: 0;}

#main-header .menu{line-height:46px;height:46px;}

#main-header .header-section{min-width: 50px;border-width:0 0 0 1px;border-style: dotted;height:36px;margin: 5px 0;padding: 0 10px}





#main-menu{left:0;width:250px;}




#menu-document{left:250px;width:400px;border-width:0 0 0 1px;border-style: solid;}

#document-list-title{position: relative;padding-right: 14px}
#document-list-title:after{content:'';position:absolute;right: 0;top:8px;width: 0;height: 0;border-width:5px;border-style: solid}

#document-list{width:290px;}
#document-list li{padding-left: 25px}
#document-list li.current{cursor: default}
#document-list li.current:before{content:'';position:absolute;left: 5px;top:10px;width: 0;height: 0;border-width:5px 8px;border-style: solid}



#slide-zoom-container{left:378px;width:210px;}
#slide-zoom-container .slider.with-title{min-height: 30px;margin-top: 3px}

#zoom-buttons{left:605px;border-color: transparent !important;padding-top: 6px !important;height:30px !important;}

#zoom-buttons.disable{opacity:.5}
#zoom-buttons.disable .btn-icon{cursor:default;}


#tool-zoom-hundred{width: 30px;background-position: -190px -1px}
#tool-zoom-scaled{background-position: -141px -26px}
#tool-zoom-minus{background-position: -140px -2px}
#tool-zoom-plus{background-position: -165px -2px}










/* MODAL */
.modal{position: absolute;z-index:12001;top:90px;left:50%;margin-left:-301px;width:600px;
border-width:1px;border-style:solid;box-shadow:0 2px 3px rgba(0,0,0,.2);display: none}
.modal .modal-header{line-height: 30px;height: 30px;font-size: 20px;padding: 0 15px;border-bottom-width:1px;border-bottom-style:solid}
.modal .modal-body{padding:15px}
.modal .col{float:left}
.modal .col.col-left{width:73%}
.modal .col.col-right{width:25%;padding-left: 2%}
.modal .col.col-right .btn{margin-bottom:15px}
.modal-dimmer{position: fixed;z-index:12000;top:0;left:0;bottom:0;right:0;display:none;opacity:.5}

/* PALET */
.palet{display:none;position: absolute;z-index:9001;top:25px;right:5px;width:200px;height:0;}
.palet-content{position: relative;min-width:200px;border-width:1px;border-style:solid;box-shadow:0 2px 3px rgba(0,0,0,.2);min-height:140px}
.palet-content .palet-header{line-height: 20px;height: 20px;font-size: 12px;border-bottom-width:1px;border-bottom-style:solid}
.palet-content .palet-title{padding: 0 10px;margin-right: 42px;cursor: move}
.palet-content .palet-close,
.palet-content .palet-setIcon{position:absolute;top:0;right:0;display: block;width:20px;height:20px;cursor: pointer}
.palet-content .palet-setIcon{right:22px;background-position: -100px -20px}
.palet-content .palet-body{position: absolute;top:21px;left:0;right:0;bottom:10px;}
.palet-content .palet-resize{position: absolute;left:6px;right:6px;bottom:0;height: 4px;cursor: n-resize}
.palet .palet-icon{display:none;position:absolute;top:2px;left:148px;width:48px;height:48px;border-width:1px;border-style: solid;border-radius: 3px;box-shadow:0 2px 3px rgba(0,0,0,.2);}

.palet.iconic .palet-icon{display:block;}
.palet.iconic .palet-content{left:300%;opacity: 0;visibility: hidden;
	transition: opacity .2s;-moz-transition: opacity .2s;-webkit-transition: opacity .2s;
}
.palet.iconic:hover{z-index: 9502 !important;}
.palet.iconic:hover .palet-content{left:0;opacity: 1;visibility: visible;}
.palet.iconic .palet-content .palet-setIcon{background-position: -120px -20px}


#palet-brush .palet-icon{background-position: -220px 0;}
#palet-color .palet-icon{background-position: -270px -1px;}
#palet-layers .palet-icon{background-position: -320px 0;}
#palet-tools .palet-icon{background-position: -370px 0;}



/* LAYERS */
#layer-container{position: absolute;top:44px;left:10px;right:10px;bottom:25px;border-width:1px;border-style:solid;overflow-y: auto}

.layer-for-doc{position: relative;min-height:26px;overflow: hidden}

.layer-drag-indicator{position:absolute;top:-5px;left: 0;height:2px;width:100%;z-index: 31;margin-top: -1px;opacity: .7}

/* color */
.layer-drag-indicator{background-color: blue}

.layer-stick{position:absolute;left: 0;height:24px;line-height:24px;width:100%;border-width:1px 0;border-style:solid;z-index: 29;
	transition: top .2s;-webkit-transition: top .2s;-moz-transition: top .2s;
}
.layer-stick.dragging{z-index: 30;transition: none;-webkit-transition: none;-moz-transition: none;box-shadow: 0 0 4px rgba(0,0,0,.6);}

.layer-stick-eye,
.layer-stick-title{position: absolute;cursor: default}

.layer-stick-eye{display:block;top:2px;bottom:2px;left:2px;width: 19px;border-width:0 1px 0 0;border-style:solid; cursor: pointer;
background-position: -100px 0}

.layer-stick-eye.closed{background-position: -120px 0}

.layer-stick-title{display:block;position: absolute;top:0;bottom:0;left:30px;right:5px;overflow: hidden;}



#layer-bottom-tools{position: absolute;left:10px;right:10px;bottom:0;height:20px;line-height:20px;}
#layer-bottom-tools.disable .btn-icon{opacity: .5;cursor:default}
#palet-tool-new-layer{background-position: -20px 0}
#palet-tool-down-layer{background-position: -40px 0}
#palet-tool-up-layer{background-position: -60px 0}
#palet-duplicate-layer{background-position: -20px -40px}
#palet-merge-layer{background-position: 0 -40px}
#palet-tool-remove-layer{float:right;background-position: -80px 0}
#layer-top-tools{position: absolute;left:10px;right:10px;top:10px;height:34px;}

/* SLIDER */
.slider{position:relative;min-height:15px;line-height: 13px;font-size:11px}
.slider.disable{opacity:.5}
.slider.disable,.slider.disable .slider-btn{cursor: default}
.slider input[type=text],.slider-out,.slider-btn,.slider-line{position:absolute;display: block;}
.slider input[type=text],.slider-out{top:0;left:0;border-width: 1px;border-style: solid;height: 13px;width:25px;text-align:center;cursor:pointer}
.slider-line{height:2px;top:9px;left:35px;right:0;cursor: e-resize}
.slider-btn{top:-7px;left:36%;width:0;height:0;border-width: 6px;margin-left:-6px;border-style: solid;cursor: e-resize;
	transition: left .2s;-moz-transition: left .2s;-webkit-transition: left .2s;
}
.slider-btn.sliding{transition: none;-moz-transition: none;-webkit-transition: none}
.slider-title{font-size: 10px;line-height: 10px;}
.slider.with-title{min-height:40px;}
.slider.with-title .slider-out,.slider.with-title input[type=text]{top:14px;}
.slider.with-title .slider-line{top:23px;}

.slider input[type=text] {height: 12px;line-height: 12px;display: none;font-size:11px}

/* COLOR CTRL */
#color-ctrl{position:absolute;top:5px;left:10px;right:10px;bottom: 0;overflow-y: auto;overflow-x: hidden}
#color-ctrl-current{position:relative;height:40px}
#color-ctrl-current-sample{position:absolute;top:0;left:0;border-width: 1px;border-style: solid;width:30px;height:30px}
#color-ctrl-current-info{margin-left:50px;font-size: 9px;line-height: 11px}

.color-cnvs{position:relative;min-height: 160px;}
.color-cnvs canvas{background-color: #FFF;border-width: 1px;border-style: solid;position:absolute;top:0;left:0}
#color-cnv-gradient-hue{left:150px}

#color-sat-val-cursor,
#color-hue-cursor{position: absolute;display: block;border:solid 1px #333;box-shadow:0 0 2px 1px #FFF;}

#color-sat-val-cursor{width:5px;height:5px;top:40px;left:36px;margin:-3px 0 0 -3px;border-radius:4px;}

#color-hue-cursor{left:151px;width:20px;height:1px;top:40px;border-width:1px 0;}


.color-sliders{padding-right:10px}





.palet-tabs{height:19px;border-width:0 0 1px;border-style:solid;margin-bottom:10px}
.palet-tabs .tab-palet{height:18px;line-height:18px;font-size:11px;float:left;padding:0 5px;border-width:1px;border-style:solid;border-radius:3px 3px 0 0;cursor:pointer}
.palet-tabs .tab-palet.current{cursor:default}

/* PALET BRUSH */
#palet-brush{min-width:230px;}

.brush-ctrl{position:absolute;top:5px;left:10px;right:10px;bottom: 0;overflow-y: auto;overflow-x: hidden}
.brush-preview{}
.brush-preview canvas{float:left;}
.brush-preview-txt{float:left;padding-left:5px;width:90px}
#brush-preview-cnv{border-width:1px;border-style: solid;background-color:#FFF}
.brush-ctrl-item{padding-right:5px;width:180px;display:none}
#brush-ctrl-principal{display:block}

.brush-ctrl-item-title{position:relative;line-height: 18px;font-size:10px;padding:0 5px 0 20px;margin-bottom:2px;cursor: pointer}
.brush-ctrl-item-title:before{position:absolute;top:4px;left:5px;width:0;height:0;display:block;content:'';border-width:5px;border-style:solid;}
.brush-ctrl-item-title.open:before{top:7px;left:3px}


#brush-ctrl-presets{border-width:1px 0 0 1px;border-style: solid;width:177px;padding: 0}
.brush-preset{position:relative;float:left;width:58px;height:68px;line-height: 10px;font-size:8px;border-width:0 1px 1px 0;border-style: solid;cursor:pointer}
.brush-preset canvas{background-color: #FFF}
.brush-preset-txt{position:absolute;bottom:0;left:2px;right:0;width: 40px;overflow: hidden}
.brush-preset span{display:block;position:absolute;bottom:0;right:1px;width:18px;text-align: right}

/* TOOLS */
#palet-tools .palet-content{min-width: 0;width:85px;}
#tools-ctrl{position:absolute;top:5px;left:5px;right:5px;bottom: 0;overflow-y: auto;overflow-x: hidden}
#tools-ctrl .btn-icon{margin:0 0 5px}
#tools-ctrl .tools-btn-container{padding:0 10px;text-align: center}


#tool-brush{background-position: -220px -50px}
#tool-eraser{background-position: -270px -50px}
#tool-picker{background-position: -320px -50px}
#tool-hand{background-position: -370px -50px}
#tool-select{background-position: -220px -100px}


.select-rect{
	position:absolute; border:dashed 1px #000;margin:-1px 0 0 -1px;z-index: 20;
}
.select-rect:after{
	position:absolute; border:dashed 1px #FFF;content:'';top:-2px;left:-2px;right:0;bottom:0;
}



#modal-processing{top:50%;font-size: 16px;text-align: center;width: 300px;margin-left: -151px;}














/* FORM */

fieldset{line-height: 24px;margin-bottom:10px}
input[type=text]{line-height: 22px;height: 22px;border-width:1px;border-style:solid}
fieldset input[type=text]{margin:0 2px 0 5px;}
fieldset label{display:inline-block;min-width:80px;text-align:right}

/* BTN */
.btn{display:inline-block;line-height: 24px;border-width:1px;border-style:solid;
border-radius:3px;text-align:center;padding:0 8px;min-width: 80px;cursor: pointer}
.btn.disable{cursor: default;opacity:.5}





#doc-container{position:fixed;top:52px;bottom:0;left:0;right:0;overflow:hidden}


.doc-canvas{
	position:relative;top:60px;left:300px;
	width:800px;
	height: 600px;
	background:#FFF url('../img/doc-background.png');
	border:solid 1px #CCC;
	box-shadow: 0 2px 6px rgba(0,0,0,.3);

	transition: transform .2s;
	-moz-transition: transform .2s;
	-wetkit-transition: transform .2s;
	cursor: default;

}



.doc-canvas canvas{
	position:absolute;top:0;left:0;
	z-index:4;
	background:transparent;
	display: none;
}

.doc-canvas canvas.show{display: block;}
.doc-canvas canvas.cnv-top{z-index:13}
.doc-canvas canvas.cnv-current{z-index:12}
.doc-canvas canvas.cnv-bottom{z-index:11}





#canvasShopExport{z-index: 200000}
#export-image-container{z-index: 200001;
	position: absolute;top:0;left:0;right:0;bottom:0;
}
#export-image-container img{position: absolute;box-shadow: 0 2px 4px rgba(0,0,0,.2);background:#FFF url('../img/doc-background.png');}
#canvasShopExport .export-text {
    bottom: 80px;
    font-size: 16px;
    left: 50%;
    margin-left: -370px;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 700px;
    z-index: 200002;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    border-width:1px;
    border-style: solid;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border-radius: 3px;
}
#canvasShopExport .export-text p{margin-bottom: 20px}

#canvasPresentation{display: block;z-index: 300000}
#presentation-img{display: block;}
#presentation{z-index: 300001;position: fixed;top:50%;left: 50%;width: 700px;height:340px;margin: -170px 0 0 -350px;box-shadow: 0 2px 4px rgba(0,0,0,.2);background-color: #FFF;opacity: 1;
	transition: opacity .4s;-webkit-transition: opacity .4s;-moz-transition: opacity .4s;
}
#presentation .presentation-text{padding:10px 20px 0;text-align: right;border-top: solid 1px #DDD;}
#presentation .loader-img{position: relative;top:3px;left:-4px;}


#browserIncompatible{display:none;z-index: 300010;position: fixed;top:50%;left: 50%;width: 660px;margin: -40px 0 0 -350px;
padding: 20px;background-color: #FFF;border:solid 1px #CCC;text-align: center}
